<main class="main-container">
  <!-- <section class="card-content">
    <div class="temperature-content">
      <label *ngIf="temperature">{{temperature}}°</label>
    </div>
  </section>

  <section class="description-content">
    <div class="description" ngDefaultControl [(ngModel)]="temperature">
      <label class="title">{{sensor}} </label>
    </div>

    <div class="value-container">
      <div class="value" *ngFor="let sensor of sensorList; let i=index">
        <label class="title">value #{{i + 1}}: </label>

        <label>{{sensor.temperatura}}°</label>
      </div>
    </div>
  </section> -->

  <div class="user" *ngFor="let user of data">
    {{ user | json }}
  </div>
</main>
